* {
    box-sizing: border-box;
    padding: 0;
    margin: 0 auto;
    font-family: "Montserrat", sans-serif;
}

body {
    background-image: linear-gradient(to bottom, #003d3b 0%, #07827e 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

:root {
    --musgo: #003d3b;
    --inter: #26aba7;
    --claro: #07827e;
    --branco: #fffefe;
    --amarelo: #fada00;
    --preto: #0a0615;
}

.fundo-claro {
    background-color: #fffefe;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1280px;
    width: 100%;
    height: 100vh;
}

span {
    color: var(--amarelo);
    font-weight: bold;
}


#home {
    color: var(--branco);
    height: 97dvh;
}

#div-home {
    position: relative;
    padding-top: 504px;
    height: 100%;
    margin: 0;
}

#home h1 {
    margin-bottom: 64px;
    font-size: 52px;
}

h1,
h2,
h3 {
    font-weight: bold;
}

#home h2 {
    font-size: 32px;
    padding: 16px 0;
}

#home h3 {
    margin-bottom: 48px;
    font-size: 44px;
    width: 100%;
}

#home-img-div {
    margin-left: 64px;
    height: 100vh;
}

#home-img-div img{
    height: 98.5vh;
    width: 620px;
    filter: drop-shadow(0 4px 20px rgba(0, 0, 0, 0.5));
}

#logo {
    height: 540px;
    position: absolute;
    left: -32%;
    top: 7%;
}

#div-home a {
    color: var(--branco);
    font-size: 20px;
    padding: 16px 32px;
    text-decoration: none;
    border-radius: 40px;
    font-weight: bold;
    background-color: var(--musgo);
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

#div-home a:hover {
    background-color: var(--branco);
    color: var(--claro);
}

.fundo-claro {
    background-color: var(--branco);
}

#benefits {
    color: var(--preto);
    text-align: center;
}

#benefits h2 {
    font-size: 40px;
}

#benefits h3{
    margin: 48px;
    font-size: 24px;
    font-weight: 400;
}

#benefits ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style: none;
    background-color: var(--inter);
    padding: 24px;
    width: 640px;
    height: 400px;
    border-radius: 40px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
}

#benefits ul h2 {
    font-size: 36px;
}

#benefits ul li {
    width: 100%;
    margin: 8px 0;
    font-weight: bold;
    color: var(--branco);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    align-items: center;
}

#sobre {
    color: var(--branco);
    text-align: justify;
}

#sobre img {
    height: 100vh;
    border-radius: 40px;
    filter: drop-shadow(0 4px 20px rgba(0, 0, 0, 0.5));

}

#sobre h2,
#sobre2 h2{
    font-size: 48px;
    margin-bottom: 8px;
    text-align: left;
}

p {
    font-size: 18px;
}

#sobre2 img {
    height: 100vh;
    border-radius: 40px;
    margin-left: 64px;
    filter: drop-shadow(0 4px 20px rgba(0, 0, 0, 0.5));

}

#profissao {
    color: var(--branco);
    text-align: center;
}

#profissao h1 {
    font-size: 54px;
    margin-bottom: 32px;
}

#profissao h2 {
    color: var(--amarelo);
    font-size: 40px;
    margin: 32px 0;
}

#profissao ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 16px;
    padding: 16px;
    list-style: none;
    text-transform: uppercase;
}

#profissao ul li {
    padding: 16px;
    border: 1px solid var(--branco);
    border-radius: 40px;
    font-size: 24px;
}

#perguntas {
    width: 100%;
    max-height: 200%;
}

summary {
    all: unset;
    cursor: pointer;
    padding-bottom: 8px;
}

details {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 16px;
    width: 1084px;
    font-size: 24px;
    transition: all 0.5s ease-in-out;
}

details {
    overflow: hidden; /* Impede que o conteúdo ultrapasse o container */
}

details[open] .content {
    
    display: block; /* Exibe o conteúdo quando <details> está aberto */
}

#depoimentos {
    height: 200vh;
}

#depoimentos h1 {
    text-align: center;
    color: var(--branco);
}

iframe {
    width: 33%;
    height: 540px;
}

#objetivo {
    display: flex;
    justify-content: space-between;
}

#objetivo span {
    color: var(--amarelo);
}

.cta-container {
    margin-left: 32px;
    text-align: center;
    background-color: var(--musgo);
    color: var(--branco);
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    height: 85vh;
    width: 440px;
}

.cta-container h1 {
    margin-bottom: 24px;
    font-size: 48px;
}

.cta-container p {
    text-align: left;
    padding: 4px;
    font-size: 18px;
    margin-bottom: 16px;
    font-weight: bold;
    text-transform: uppercase;
}

.cta-button {
    display: inline-block;
    padding: 15px 30px;
    font-size: 1.2rem;
    color: var(--branco);
    background-color: var(--claro);
    border-radius: 5px;
    width: 95%;
    text-decoration: none;
    margin-top: 36px;
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color 0.3s;
}

.cta-button:hover {
    background-color: var(--inter);
    color: var(--azul);
}

.countdown {
    margin-top: 20px;
    font-size: 1.2rem;
    color: var(--amarelo); /* Cor para urgência */
}


.countdown p {
    text-align: center;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: bold;
}

.countdown span {
    text-align: center;
    font-size: 48px;
    text-transform: uppercase;
    font-weight: bold;
}

#footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}

#footer p {
    margin: 0;
    color: var(--branco);
}



@media (max-width: 767px) {
    * {
        text-align: center;
    }
    
    .container {
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
        height: 100dvh;
        width: 100dvw;
        max-width: 90%;
    }

    #home {
        height: 110dvh;
    }
    
    #div-home h3,
    #div-home a {
        position: relative;
        top: -18dvh;
    }

    #div-home a {
        font-size: 1rem;
    }

    #logo {
        max-width: 200%;
        width: 140vw;
        top: -3dvh;
    }

    #home-img-div img{
        display: none;
    }

    .fundo-claro {
        max-width: 100%;
    }

    #benefits {
        max-width: 100dvw;
        height: 100dvh;
        width: 100dvw;
    }

    #benefits h2 {
        margin: 16px 0;
        font-size: 0.9rem;
    }
    
    #benefits h3{
        font-size: 0.9em;
        font-weight: 400;
    }
    
    #benefits ul {
        width: 80%;
        padding-bottom: 16px;
    }
    
    #benefits ul h2 {
        font-size: 1rem;
        color: var(--amarelo);
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);

    }
    
    #benefits ul li {
        font-size: 0.6rem;
        width: 100%;
        margin: 4px 0;
        font-weight: bold;
        color: var(--branco);
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        align-items: center;
    }

    #sobre {
        height: 120dvh;
    }
    
    #sobre img {
        height: 45vh;
        width: 45vh;
        padding-right: 48px;
        border-radius: 50%;
        filter: drop-shadow(0 4px 20px rgba(0, 0, 0, 0.5));
    
    }

    #sobre h2,
    #sobre2 h2{
    font-size: 2rem;
    text-align: center;
    margin-bottom: 8px;
    }

    #sobre2 img {
        display: none;
    }

    p {
        font-size: 0.8rem;
    }

    #sobre2 {
        height: 100dvh;
    }

    #profissao {
        height: 145dvh;
    }
    
    #profissao h1 {
        font-size: 1.7rem;
    }
    
    #profissao h2 {
        color: var(--amarelo);
        font-size: 1.7rem;
    }
    
    #profissao ul {
        display: flex;
        gap: 8px;
        padding: 8px;
        list-style: none;
        text-transform: uppercase;
    }
    
    #profissao ul li {
        padding: 16px;
        border: 1px solid var(--branco);
        border-radius: 40px;
        font-size: 0.9rem;
    }

    #perguntas {
        padding-top: 115px;
        height: 125dvh;
    }

    #perguntas p {
        font-size: 0.7rem;
    }

    details {
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        padding: 16px;
        width: 90%;
        font-size: 0.9rem;
        transition: all 0.5s ease-in-out;
    }
    #depoimentos {
        height: 320dvh;
    }

    #depoimentos h1 {
        text-align: center;
        color: var(--branco);
        margin-bottom: 48px;
    }
    
    iframe {
        width: 90%;
        height: 30dvh;
    }

    #objetivo {
        height: 220dvh;
        display: flex;
        flex-direction: column;
        justify-content: center;

}
    .cta-container {
        text-align: center;
        background-color: var(--musgo);
        color: var(--branco);
        padding: 30px;
        border-radius: 8px;
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
        height: 95dvh;
        width: 90dvw;
        margin: 32px 0;
    }

    .cta-container h1 {
        margin-bottom: 24px;
        font-size: 2rem;
    }

    .cta-container p {
        text-align: center;
        padding: 4px;
        font-size: 1rem;
        font-weight: bold;
    }

    .countdown p {
        margin-bottom: 1px;
    }

    .countdown span {
        font-size: 2rem;
    }

    .cta-button {
        display: inline-block;
        padding: 15px 30px;
        font-size: 0.9rem;
        color: var(--branco);
        background-color: var(--claro);
        border-radius: 5px;
        width: 95%;
        text-decoration: none;
        margin-top: 36px;
        font-weight: bold;
        text-transform: uppercase;
        transition: background-color 0.3s;
    }

    #footer {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 10dvh;
    }
}